.content
{
    /*Fill the document.*/
    min-height: 100%;

    font-size: $fontSize;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    font-weight: bold;
    text-align: center;

    /*Disable text selection. (Avoids highlighting words when clicking for a new generation)*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    /*Explicity set width to fix flexbox word wrapping on IE.*/
    width: 100%;
}

 /*The <h1> inside of .content*/
 #text
 {
     /*Explicity set width to fix flexbox word wrapping on IE. -5% to avoid wrapping document*/
     width: 95%;
     max-width: 95%;
     overflow-wrap: break-word;
     display: none;
 }

 .and
 {
     font-style: italic;
     font-weight: lighter;
 }

 #firstWord, #secondWord
 {
     text-decoration: underline;
 }