@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


html, body
{
    height: 100%;
    margin: 0;
    background: #32ff7e;
    overflow: hidden;
    color: #2F3640;
    font-family: 'Playfair Display', serif;
}


.content
{
    min-height: 100%;
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */


    width: 100%;

    h1{
        width: 100%;
        overflow-wrap: break-word;
    }
}

.and
{
    font-style: italic;
    font-weight: lighter;
}

.button {
    width: calc(100% * 1vw);
    height: 50px;

    
}

.button:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#firstWord, #secondWord
{
    text-decoration: underline;
}