
//Import font
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

//Variables
$textColour: #2F3640;
$defaultBackgroundColour: #32ff7e;
$fontFamily: 'Playfair Display', serif;
$fontSize: 5vw;

//Partial .SCSS Imports
@import 'content';
@import 'loading';
@import 'toast';


html, body
{
    /*Fill the screen and remove default padding.*/
    height: 100%;
    margin: 0;

    /*Hide Scrollbars*/
    overflow: hidden;

    background: $defaultBackgroundColour;
    color: $textColour;
    font-family: $fontFamily;
}







